body {
    margin: 0;
}

#xeokit-canvas, #xeokit-canvas-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

#debug-tool-container {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
}